/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-02-2019, 12:43:12
    Author     : mads_
*/

#btnBack{
    -fx-background-color: #DDDDDD;
    -fx-border-width: 1;
    -fx-border-color: black;
}

#btnBack:focused{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-color: red;
}

#btnBack:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-color: red;
}

#btnRequest{
    -fx-background-color: #DDDDDD;
    -fx-border-width: 1;
    -fx-border-color: black;
}

#btnRequest:focused{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-color: blue;
}

#btnRequest:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-border-color: blue;
}